In [1]:
from pathlib import Path
import numpy as np
import heapq
from collections import defaultdict
import seaborn as sns
import pandas as pd
import matplotlib.pylab as plt
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from itertools import chain
from sklearn.cluster import KMeans
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
from sklearn import metrics

In [2]:
#We read the dataset given.

In [3]:
fp = pd.read_csv('C:/Users/User/StudentClass.csv')
fp

       StudentID GRADE ClassWeekDay ClassMeetTime ClassDate   ClassTitle
0            1.0     A           MW      15:30:00  9/1/2004         Math
1            1.0     A            M      19:00:00  9/1/2004      English
2            1.0     C            W      19:00:00  9/1/2004      Physics
3            1.0     B           MW      11:00:00  9/1/2004          Art
4            1.0     B           MW      12:30:00  9/1/2005  SocialStudy
...          ...   ...          ...           ...       ...          ...
18705        NaN   NaN          NaN           NaN       NaN          NaN
18706        NaN   NaN          NaN           NaN       NaN          NaN
18707        NaN   NaN          NaN           NaN       NaN          NaN
18708        NaN   NaN          NaN           NaN       NaN          NaN
18709        NaN   NaN          NaN           NaN       NaN          NaN

[18710 rows x 6 columns]

In [4]:
fp=fp.dropna()

In [5]:
fp

      StudentID GRADE ClassWeekDay ClassMeetTime ClassDate       ClassTitle
0           1.0     A           MW      15:30:00  9/1/2004             Math
1           1.0     A            M      19:00:00  9/1/2004          English
2           1.0     C            W      19:00:00  9/1/2004          Physics
3           1.0     B           MW      11:00:00  9/1/2004              Art
4           1.0     B           MW      12:30:00  9/1/2005      SocialStudy
...         ...   ...          ...           ...       ...              ...
9995     1000.0     C           MW      15:30:00  9/1/2008          Physics
9996     1000.0     C           MW      14:00:00  9/1/2008             Math
9997     1000.0     C          TTH      12:30:00  9/1/2008  ForeignLanguage
9998     1000.0     B           TU      19:00:00  9/1/2009            Music
9999     1000.0     D           MW      11:00:00  3/1/2010          Drawing

[9997 rows x 6 columns]

In [6]:
## Converting the studentid into integer datatype.

In [7]:
fp['StudentID'] = fp['StudentID'].astype(int)
fp

C:\Users\User\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      StudentID GRADE ClassWeekDay ClassMeetTime ClassDate       ClassTitle
0             1     A           MW      15:30:00  9/1/2004             Math
1             1     A            M      19:00:00  9/1/2004          English
2             1     C            W      19:00:00  9/1/2004          Physics
3             1     B           MW      11:00:00  9/1/2004              Art
4             1     B           MW      12:30:00  9/1/2005      SocialStudy
...         ...   ...          ...           ...       ...              ...
9995       1000     C           MW      15:30:00  9/1/2008          Physics
9996       1000     C           MW      14:00:00  9/1/2008             Math
9997       1000     C          TTH      12:30:00  9/1/2008  ForeignLanguage
9998       1000     B           TU      19:00:00  9/1/2009            Music
9999       1000     D           MW      11:00:00  3/1/2010          Drawing

[9997 rows x 6 columns]

In [8]:
fp_df = pd.read_csv('StudentGraduate.csv')
fp_df

,ID,HS_ENGLISH,HS_MATH,HS_HISTORY,HS_LAB_SCIENCES,HS_FOREIGN_LANGUAGE,HS_ART,HS_ELECTIVES,HS_GPA,sex,WRITINGScore,GraduateONTime,Major
0,1,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
1,2,8,10,7,6,8,10,0,3.712993,1,558,0,MGMT
2,3,8,7,6,6,4,4,0,4.373719,1,634,1,MKTG
3,4,8,8,6,6,4,2,0,4.046570,0,386,0,MKTG
4,5,8,6,6,4,4,3,1,2.560076,0,381,0,MGMT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,8,8,7,6,6,3,2,3.002898,1,441,0,MGMT
996,997,8,10,6,7,6,2,0,3.910183,0,443,1,ACCT
997,998,8,10,6,8,6,6,0,3.267001,0,515,0,MGMT
998,999,8,8,7,8,8,2,1,3.474561,0,459,0,MKTG
999,1000,8,6,6,6,4,16,9,3.690760,0,552,1,FIN

In [9]:
# Merging two dataset 'StudentGraduate' and 'StudentClass' to built a classification model.

In [10]:
fp = pd.merge(fp, fp_df, left_on='StudentID', right_on='ID', how='left')
fp

,StudentID,GRADE,ClassWeekDay,ClassMeetTime,ClassDate,ClassTitle,ID,HS_ENGLISH,HS_MATH,HS_HISTORY,HS_LAB_SCIENCES,HS_FOREIGN_LANGUAGE,HS_ART,HS_ELECTIVES,HS_GPA,sex,WRITINGScore,GraduateONTime,Major
0,1,A,MW,15:30:00,9/1/2004,Math,1,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
1,1,A,M,19:00:00,9/1/2004,English,1,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
2,1,C,W,19:00:00,9/1/2004,Physics,1,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
3,1,B,MW,11:00:00,9/1/2004,Art,1,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
4,1,B,MW,12:30:00,9/1/2005,SocialStudy,1,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,1000,C,MW,15:30:00,9/1/2008,Physics,1000,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9993,1000,C,MW,14:00:00,9/1/2008,Math,1000,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9994,1000,C,TTH,12:30:00,9/1/2008,ForeignLanguage,1000,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9995,1000,B,TU,19:00:00,9/1/2009,Music,1000,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9996,1000,D,MW,11:00:00,3/1/2010,Drawing,1000,8,6,6,6,4,16,9,3.690760,0,552,1,FIN

In [11]:
# Making a list of all the dates and studentid's that have taken subjects in last 2 semester of their major. 
# Because we cannot predict the graduation based on last 2 semester's performance.

In [12]:
map={}
from datetime import datetime
for i in range(0,1000):
    list1=[]
    for j in range(fp.shape[0]):
        if fp.iloc[j,0]==i:
            list1.append(fp.iloc[j,4])
    list1=list(set(list1))
    list1.sort(key=lambda date: datetime.strptime(date, "%m/%d/%Y"))
    list1=list1[-2:]
    map[i]=list1

In [13]:
map

{0: [],
 1: ['9/1/2006', '3/1/2007'],
 2: ['9/1/2006', '3/1/2007'],
 3: ['3/1/2005', '3/1/2006'],
 4: ['3/1/2007', '9/1/2007'],
 5: ['9/1/2008', '9/1/2009'],
 6: ['9/1/2007', '3/1/2008'],
 7: ['9/1/2005', '3/1/2006'],
 8: ['9/1/2007', '9/1/2008'],
 9: ['9/1/2005', '3/1/2006'],
 10: ['3/1/2011', '9/1/2011'],
 11: ['3/1/2007', '9/1/2007'],
 12: ['9/1/2007', '9/1/2008'],
 13: ['3/1/2007', '9/1/2007'],
 14: ['9/1/2005', '9/1/2006'],
 15: ['3/1/2005', '9/1/2005'],
 16: ['3/1/2011', '9/1/2011'],
 17: ['9/1/2011', '3/1/2012'],
 18: ['9/1/2006', '9/1/2008'],
 19: ['3/1/2006', '9/1/2006'],
 20: ['3/1/2006', '9/1/2006'],
 21: ['9/1/2011', '3/1/2012'],
 22: ['3/1/2007', '9/1/2007'],
 23: ['9/1/2005', '9/1/2006'],
 24: ['9/1/2009', '3/1/2010'],
 25: ['3/1/2005', '9/1/2005'],
 26: ['9/1/2005', '3/1/2006'],
 27: ['9/1/2007', '9/1/2008'],
 28: ['3/1/2006', '9/1/2006'],
 29: ['9/1/2005', '3/1/2006'],
 30: ['3/1/2006', '3/1/2007'],
 31: ['3/1/2006', '9/1/2006'],
 32: ['3/1/2005', '9/1/2005'],
 33: ['3/1/2007', '9/1/2007'],
 34: ['9/1/2005', '3/1/2006'],
 35: ['9/1/2005', '9/1/2006'],
 36: ['3/1/2007', '3/1/2008'],
 37: ['3/1/2006', '3/1/2007'],
 38: ['9/1/2005', '3/1/2006'],
 39: ['3/1/2005', '9/1/2005'],
 40: ['9/1/2006', '3/1/2007'],
 41: ['3/1/2007', '9/1/2007'],
 42: ['9/1/2006', '3/1/2007'],
 43: ['3/1/2006', '9/1/2006'],
 44: ['3/1/2005', '3/1/2006'],
 45: ['9/1/2005', '3/1/2006'],
 46: ['3/1/2005', '9/1/2005'],
 47: ['3/1/2005', '9/1/2005'],
 48: ['3/1/2007', '9/1/2008'],
 49: ['9/1/2005', '3/1/2006'],
 50: ['9/1/2005', '9/1/2006'],
 51: ['9/1/2005', '9/1/2006'],
 52: ['3/1/2005', '9/1/2005'],
 53: ['9/1/2011', '3/1/2012'],
 54: ['3/1/2007', '9/1/2008'],
 55: ['3/1/2006', '9/1/2006'],
 56: ['9/1/2005', '3/1/2006'],
 57: ['9/1/2005', '3/1/2006'],
 58: ['3/1/2006', '9/1/2006'],
 59: ['3/1/2005', '9/1/2005'],
 60: ['3/1/2006', '9/1/2006'],
 61: ['9/1/2005', '3/1/2006'],
 62: ['9/1/2008', '9/1/2009'],
 63: ['9/1/2011', '3/1/2012'],
 64: ['9/1/2005', '9/1/2006'],
 65: ['3/1/2005', '3/1/2006'],
 66: ['3/1/2008', '9/1/2008'],
 67: ['9/1/2005', '3/1/2006'],
 68: ['3/1/2005', '9/1/2005'],
 69: ['3/1/2006', '9/1/2006'],
 70: ['9/1/2007', '3/1/2008'],
 71: ['3/1/2005', '9/1/2005'],
 72: ['3/1/2005', '9/1/2005'],
 73: ['9/1/2005', '3/1/2006'],
 74: ['9/1/2005', '9/1/2006'],
 75: ['9/1/2005', '3/1/2006'],
 76: ['3/1/2005', '3/1/2006'],
 77: ['3/1/2008', '9/1/2008'],
 78: ['3/1/2006', '9/1/2006'],
 79: ['3/1/2005', '9/1/2005'],
 80: ['9/1/2005', '9/1/2006'],
 81: ['3/1/2005', '9/1/2005'],
 82: ['9/1/2005', '3/1/2006'],
 83: ['3/1/2010', '9/1/2010'],
 84: ['9/1/2005', '3/1/2006'],
 85: ['3/1/2007', '3/1/2008'],
 86: ['3/1/2005', '9/1/2006'],
 87: ['3/1/2005', '9/1/2006'],
 88: ['9/1/2006', '9/1/2007'],
 89: ['9/1/2005', '3/1/2006'],
 90: ['9/1/2006', '3/1/2007'],
 91: ['3/1/2005', '9/1/2005'],
 92: ['9/1/2005', '3/1/2006'],
 93: ['9/1/2007', '3/1/2008'],
 94: ['9/1/2006', '3/1/2007'],
 95: ['9/1/2005', '3/1/2006'],
 96: ['9/1/2005', '3/1/2006'],
 97: ['3/1/2005', '9/1/2005'],
 98: ['9/1/2005', '9/1/2006'],
 99: ['3/1/2005', '9/1/2005'],
 100: ['9/1/2006', '3/1/2007'],
 101: ['3/1/2005', '9/1/2005'],
 102: ['9/1/2005', '3/1/2006'],
 103: ['3/1/2005', '3/1/2006'],
 104: ['3/1/2005', '3/1/2006'],
 105: ['3/1/2007', '9/1/2007'],
 106: ['9/1/2005', '3/1/2006'],
 107: ['3/1/2005', '9/1/2005'],
 108: ['9/1/2006', '3/1/2007'],
 109: ['3/1/2005', '9/1/2005'],
 110: ['3/1/2005', '9/1/2005'],
 111: ['3/1/2005', '9/1/2005'],
 112: ['3/1/2005', '3/1/2006'],
 113: ['3/1/2005', '9/1/2005'],
 114: ['3/1/2008', '9/1/2008'],
 115: ['3/1/2006', '9/1/2006'],
 116: ['9/1/2007', '3/1/2008'],
 117: ['9/1/2005', '3/1/2006'],
 118: ['9/1/2005', '3/1/2006'],
 119: ['9/1/2005', '3/1/2006'],
 120: ['3/1/2006', '9/1/2006'],
 121: ['3/1/2007', '9/1/2007'],
 122: ['9/1/2005', '3/1/2006'],
 123: ['3/1/2005', '3/1/2006'],
 124: ['3/1/2007', '9/1/2007'],
 125: ['9/1/2006', '3/1/2007'],
 126: ['3/1/2005', '9/1/2005'],
 127: ['9/1/2005', '3/1/2006'],
 128: ['9/1/2005', '3/1/2006'],
 129: ['3/1/2005', '9/1/2005'],
 130: ['9/1/2005', '3/1/2006'],
 131: ['3/1/2006', '9/1/2006'],
 132: ['9/1/2006', '3/1/2007'],
 133: ['9/1/2005', '3/1/2006'],
 134: ['9/1/2006', '3/1/2007'],
 135: ['9/1/2008', '9/1/2011'],
 136: ['3/1/2006', '9/1/2006'],
 137: ['9/1/2006', '3/1/2007'],
 138: ['9/1/2005', '3/1/2006'],
 139: ['3/1/2006', '9/1/2006'],
 140: ['3/1/2005', '9/1/2005'],
 141: ['9/1/2005', '3/1/2006'],
 142: ['9/1/2011', '3/1/2012'],
 143: ['3/1/2005', '9/1/2005'],
 144: ['3/1/2005', '3/1/2006'],
 145: ['9/1/2005', '3/1/2006'],
 146: ['3/1/2005', '9/1/2005'],
 147: ['9/1/2006', '9/1/2007'],
 148: ['3/1/2005', '9/1/2005'],
 149: ['9/1/2005', '9/1/2006'],
 150: ['3/1/2007', '9/1/2007'],
 151: ['3/1/2005', '3/1/2006'],
 152: ['3/1/2005', '9/1/2005'],
 153: ['3/1/2007', '9/1/2007'],
 154: ['9/1/2007', '3/1/2008'],
 155: ['3/1/2005', '9/1/2005'],
 156: ['3/1/2007', '3/1/2008'],
 157: ['9/1/2005', '3/1/2006'],
 158: ['9/1/2004', '3/1/2005'],
 159: ['9/1/2005', '9/1/2006'],
 160: ['3/1/2005', '9/1/2005'],
 161: ['3/1/2006', '9/1/2006'],
 162: ['9/1/2005', '3/1/2006'],
 163: ['9/1/2006', '3/1/2007'],
 164: ['3/1/2005', '3/1/2006'],
 165: ['3/1/2008', '9/1/2008'],
 166: ['9/1/2007', '3/1/2008'],
 167: ['9/1/2005', '3/1/2006'],
 168: ['3/1/2005', '9/1/2005'],
 169: ['3/1/2006', '9/1/2006'],
 170: ['9/1/2007', '3/1/2008'],
 171: ['3/1/2005', '3/1/2006'],
 172: ['3/1/2006', '3/1/2007'],
 173: ['3/1/2006', '3/1/2007'],
 174: ['9/1/2005', '3/1/2006'],
 175: ['9/1/2005', '3/1/2007'],
 176: ['3/1/2008', '9/1/2008'],
 177: ['3/1/2007', '3/1/2008'],
 178: ['9/1/2006', '9/1/2007'],
 179: ['3/1/2006', '9/1/2006'],
 180: ['3/1/2005', '3/1/2006'],
 181: ['3/1/2006', '9/1/2006'],
 182: ['9/1/2006', '3/1/2007'],
 183: ['9/1/2010', '3/1/2011'],
 184: ['9/1/2005', '3/1/2006'],
 185: ['3/1/2006', '9/1/2006'],
 186: ['3/1/2005', '3/1/2006'],
 187: ['9/1/2005', '3/1/2006'],
 188: ['9/1/2005', '9/1/2006'],
 189: ['3/1/2007', '9/1/2007'],
 190: ['3/1/2006', '9/1/2006'],
 191: ['3/1/2006', '9/1/2006'],
 192: ['3/1/2005', '9/1/2005'],
 193: ['3/1/2006', '9/1/2006'],
 194: ['9/1/2005', '3/1/2006'],
 195: ['9/1/2005', '3/1/2006'],
 196: ['9/1/2005', '3/1/2006'],
 197: ['3/1/2006', '9/1/2006'],
 198: ['3/1/2006', '9/1/2006'],
 199: ['3/1/2006', '9/1/2006'],
 200: ['9/1/2006', '3/1/2007'],
 201: ['9/1/2006', '3/1/2007'],
 202: ['3/1/2005', '3/1/2006'],
 203: ['9/1/2005', '3/1/2006'],
 204: ['9/1/2005', '3/1/2006'],
 205: ['9/1/2006', '3/1/2007'],
 206: ['3/1/2005', '3/1/2006'],
 207: ['9/1/2007', '3/1/2008'],
 208: ['9/1/2006', '3/1/2007'],
 209: ['3/1/2006', '9/1/2006'],
 210: ['3/1/2006', '9/1/2006'],
 211: ['3/1/2006', '9/1/2006'],
 212: ['9/1/2006', '3/1/2007'],
 213: ['3/1/2006', '9/1/2006'],
 214: ['9/1/2005', '3/1/2006'],
 215: ['9/1/2006', '3/1/2007'],
 216: ['9/1/2008', '9/1/2009'],
 217: ['9/1/2005', '3/1/2006'],
 218: ['3/1/2005', '9/1/2005'],
 219: ['3/1/2005', '9/1/2005'],
 220: ['3/1/2006', '3/1/2007'],
 221: ['3/1/2006', '9/1/2006'],
 222: ['9/1/2005', '3/1/2006'],
 223: ['3/1/2006', '9/1/2006'],
 224: ['9/1/2006', '3/1/2007'],
 225: ['3/1/2006', '9/1/2006'],
 226: ['9/1/2005', '9/1/2006'],
 227: ['9/1/2005', '3/1/2006'],
 228: ['9/1/2005', '3/1/2006'],
 229: ['3/1/2006', '9/1/2006'],
 230: ['9/1/2005', '9/1/2006'],
 231: ['3/1/2006', '9/1/2006'],
 232: ['9/1/2006', '3/1/2007'],
 233: ['3/1/2006', '3/1/2007'],
 234: ['9/1/2006', '9/1/2007'],
 235: ['3/1/2005', '9/1/2006'],
 236: ['3/1/2006', '9/1/2006'],
 237: ['9/1/2005', '9/1/2006'],
 238: ['3/1/2007', '3/1/2008'],
 239: ['9/1/2005', '3/1/2006'],
 240: ['9/1/2005', '9/1/2006'],
 241: ['9/1/2006', '9/1/2007'],
 242: ['9/1/2005', '3/1/2007'],
 243: ['9/1/2006', '3/1/2007'],
 244: ['9/1/2006', '9/1/2007'],
 245: ['9/1/2006', '3/1/2007'],
 246: ['9/1/2005', '9/1/2006'],
 247: ['9/1/2006', '3/1/2007'],
 248: ['3/1/2006', '9/1/2006'],
 249: ['3/1/2005', '9/1/2005'],
 250: ['9/1/2005', '3/1/2006'],
 251: ['9/1/2006', '3/1/2007'],
 252: ['9/1/2006', '3/1/2007'],
 253: ['9/1/2006', '3/1/2007'],
 254: ['9/1/2005', '3/1/2006'],
 255: ['9/1/2005', '3/1/2006'],
 256: ['9/1/2005', '3/1/2006'],
 257: ['3/1/2006', '9/1/2006'],
 258: ['9/1/2006', '3/1/2007'],
 259: ['9/1/2005', '3/1/2006'],
 260: ['9/1/2006', '3/1/2007'],
 261: ['9/1/2006', '3/1/2007'],
 262: ['9/1/2005', '3/1/2006'],
 263: ['3/1/2006', '9/1/2006'],
 264: ['3/1/2007', '9/1/2008'],
 265: ['9/1/2005', '9/1/2006'],
 266: ['9/1/2006', '3/1/2007'],
 267: ['3/1/2006', '3/1/2007'],
 268: ['3/1/2006', '9/1/2006'],
 269: ['3/1/2011', '9/1/2011'],
 270: ['3/1/2005', '9/1/2005'],
 271: ['9/1/2005', '3/1/2006'],
 272: ['9/1/2007', '3/1/2008'],
 273: ['9/1/2009', '3/1/2010'],
 274: ['9/1/2007', '3/1/2008'],
 275: ['3/1/2007', '9/1/2007'],
 276: ['3/1/2007', '9/1/2008'],
 277: ['9/1/2007', '3/1/2008'],
 278: ['9/1/2006', '3/1/2007'],
 279: ['9/1/2005', '3/1/2006'],
 280: ['9/1/2006', '9/1/2007'],
 281: ['9/1/2005', '3/1/2006'],
 282: ['3/1/2006', '9/1/2006'],
 283: ['9/1/2007', '3/1/2008'],
 284: ['3/1/2007', '3/1/2008'],
 285: ['9/1/2007', '3/1/2008'],
 286: ['9/1/2010', '3/1/2011'],
 287: ['3/1/2007', '3/1/2008'],
 288: ['3/1/2005', '9/1/2005'],
 289: ['9/1/2005', '3/1/2006'],
 290: ['3/1/2005', '9/1/2005'],
 291: ['3/1/2006', '3/1/2007'],
 292: ['9/1/2006', '3/1/2007'],
 293: ['3/1/2007', '3/1/2008'],
 294: ['3/1/2007', '9/1/2007'],
 295: ['9/1/2007', '3/1/2008'],
 296: ['9/1/2007', '9/1/2008'],
 297: ['9/1/2007', '9/1/2008'],
 298: ['3/1/2007', '9/1/2007'],
 299: ['3/1/2006', '9/1/2006'],
 300: ['3/1/2007', '9/1/2007'],
 301: ['9/1/2005', '3/1/2006'],
 302: ['9/1/2006', '9/1/2007'],
 303: ['3/1/2005', '3/1/2006'],
 304: ['9/1/2007', '3/1/2008'],
 305: ['9/1/2006', '3/1/2007'],
 306: ['9/1/2005', '3/1/2006'],
 307: ['3/1/2005', '3/1/2006'],
 308: ['3/1/2006', '9/1/2006'],
 309: ['3/1/2005', '9/1/2005'],
 310: ['9/1/2006', '9/1/2007'],
 311: ['3/1/2005', '9/1/2005'],
 312: ['9/1/2005', '3/1/2006'],
 313: ['9/1/2005', '3/1/2006'],
 314: ['3/1/2007', '9/1/2007'],
 315: ['3/1/2005', '3/1/2006'],
 316: ['9/1/2005', '3/1/2007'],
 317: ['9/1/2006', '3/1/2007'],
 318: ['9/1/2006', '3/1/2007'],
 319: ['9/1/2006', '3/1/2007'],
 320: ['3/1/2006', '9/1/2006'],
 321: ['3/1/2006', '9/1/2006'],
 322: ['3/1/2006', '3/1/2007'],
 323: ['3/1/2006', '9/1/2006'],
 324: ['9/1/2006', '3/1/2007'],
 325: ['9/1/2005', '3/1/2007'],
 326: ['3/1/2007', '9/1/2007'],
 327: ['3/1/2006', '3/1/2007'],
 328: ['3/1/2006', '9/1/2006'],
 329: ['9/1/2006', '3/1/2007'],
 330: ['9/1/2006', '3/1/2007'],
 331: ['3/1/2006', '3/1/2007'],
 332: ['9/1/2005', '3/1/2007'],
 333: ['3/1/2006', '9/1/2006'],
 334: ['9/1/2005', '3/1/2006'],
 335: ['9/1/2006', '3/1/2007'],
 336: ['3/1/2005', '3/1/2006'],
 337: ['3/1/2006', '9/1/2006'],
 338: ['3/1/2008', '9/1/2008'],
 339: ['9/1/2006', '3/1/2007'],
 340: ['3/1/2005', '3/1/2006'],
 341: ['3/1/2006', '9/1/2006'],
 342: ['3/1/2007', '3/1/2008'],
 343: ['9/1/2005', '3/1/2006'],
 344: ['3/1/2006', '9/1/2006'],
 345: ['3/1/2006', '3/1/2007'],
 346: ['3/1/2006', '9/1/2006'],
 347: ['9/1/2006', '3/1/2008'],
 348: ['9/1/2005', '3/1/2006'],
 349: ['3/1/2006', '9/1/2006'],
 350: ['9/1/2005', '3/1/2007'],
 351: ['3/1/2006', '9/1/2006'],
 352: ['3/1/2006', '3/1/2007'],
 353: ['9/1/2007', '3/1/2008'],
 354: ['9/1/2006', '3/1/2007'],
 355: ['3/1/2007', '9/1/2007'],
 356: ['3/1/2008', '9/1/2008'],
 357: ['9/1/2006', '3/1/2007'],
 358: ['9/1/2005', '9/1/2006'],
 359: ['9/1/2006', '3/1/2007'],
 360: ['3/1/2006', '9/1/2006'],
 361: ['9/1/2005', '9/1/2007'],
 362: ['9/1/2006', '3/1/2007'],
 363: ['3/1/2006', '9/1/2006'],
 364: ['9/1/2005', '9/1/2006'],
 365: ['3/1/2006', '9/1/2006'],
 366: ['3/1/2008', '9/1/2008'],
 367: ['9/1/2006', '3/1/2007'],
 368: ['3/1/2007', '9/1/2007'],
 369: ['9/1/2011', '3/1/2012'],
 370: ['3/1/2005', '3/1/2006'],
 371: ['9/1/2007', '3/1/2008'],
 372: ['9/1/2007', '3/1/2008'],
 373: ['9/1/2006', '3/1/2007'],
 374: ['3/1/2007', '9/1/2007'],
 375: ['3/1/2005', '9/1/2005'],
 376: ['3/1/2006', '9/1/2006'],
 377: ['9/1/2005', '9/1/2006'],
 378: ['3/1/2006', '9/1/2006'],
 379: ['9/1/2007', '9/1/2008'],
 380: ['3/1/2005', '3/1/2007'],
 381: ['9/1/2005', '9/1/2006'],
 382: ['9/1/2005', '3/1/2006'],
 383: ['9/1/2005', '3/1/2006'],
 384: ['3/1/2005', '9/1/2005'],
 385: ['3/1/2006', '9/1/2006'],
 386: ['3/1/2006', '9/1/2006'],
 387: ['9/1/2006', '3/1/2007'],
 388: ['3/1/2005', '9/1/2005'],
 389: ['3/1/2006', '9/1/2007'],
 390: ['9/1/2005', '3/1/2006'],
 391: ['3/1/2006', '9/1/2007'],
 392: ['9/1/2005', '9/1/2007'],
 393: ['9/1/2007', '3/1/2008'],
 394: ['9/1/2006', '3/1/2007'],
 395: ['3/1/2006', '9/1/2006'],
 396: ['9/1/2007', '3/1/2008'],
 397: ['9/1/2005', '3/1/2006'],
 398: ['3/1/2007', '9/1/2007'],
 399: ['9/1/2007', '3/1/2008'],
 400: ['9/1/2005', '3/1/2006'],
 401: ['9/1/2005', '3/1/2006'],
 402: ['9/1/2010', '3/1/2011'],
 403: ['9/1/2005', '3/1/2006'],
 404: ['9/1/2006', '3/1/2007'],
 405: ['9/1/2007', '3/1/2008'],
 406: ['3/1/2007', '9/1/2007'],
 407: ['9/1/2005', '3/1/2006'],
 408: ['9/1/2006', '3/1/2007'],
 409: ['3/1/2005', '3/1/2006'],
 410: ['9/1/2005', '3/1/2006'],
 411: ['3/1/2005', '3/1/2006'],
 412: ['9/1/2006', '3/1/2007'],
 413: ['3/1/2006', '9/1/2007'],
 414: ['9/1/2007', '3/1/2008'],
 415: ['3/1/2006', '9/1/2006'],
 416: ['3/1/2007', '9/1/2007'],
 417: ['3/1/2005', '9/1/2005'],
 418: ['9/1/2005', '9/1/2006'],
 419: ['9/1/2006', '3/1/2007'],
 420: ['9/1/2007', '9/1/2008'],
 421: ['3/1/2006', '9/1/2006'],
 422: ['9/1/2007', '3/1/2008'],
 423: ['9/1/2005', '9/1/2006'],
 424: ['9/1/2005', '3/1/2006'],
 425: ['9/1/2007', '9/1/2008'],
 426: ['3/1/2007', '9/1/2007'],
 427: ['9/1/2007', '3/1/2008'],
 428: ['3/1/2005', '9/1/2005'],
 429: ['3/1/2008', '9/1/2008'],
 430: ['9/1/2005', '3/1/2006'],
 431: ['3/1/2007', '9/1/2007'],
 432: ['9/1/2005', '3/1/2006'],
 433: ['9/1/2005', '3/1/2006'],
 434: ['9/1/2006', '3/1/2008'],
 435: ['3/1/2006', '9/1/2006'],
 436: ['9/1/2006', '3/1/2007'],
 437: ['9/1/2006', '3/1/2007'],
 438: ['9/1/2005', '3/1/2006'],
 439: ['9/1/2005', '3/1/2006'],
 440: ['3/1/2005', '9/1/2005'],
 441: ['3/1/2005', '3/1/2006'],
 442: ['3/1/2005', '3/1/2006'],
 443: ['9/1/2007', '9/1/2008'],
 444: ['9/1/2006', '3/1/2007'],
 445: ['3/1/2007', '3/1/2008'],
 446: ['3/1/2008', '9/1/2008'],
 447: ['9/1/2007', '3/1/2008'],
 448: ['9/1/2006', '9/1/2007'],
 449: ['3/1/2006', '3/1/2007'],
 450: ['9/1/2005', '3/1/2007'],
 451: ['3/1/2007', '3/1/2008'],
 452: ['9/1/2005', '3/1/2006'],
 453: ['9/1/2004', '3/1/2005'],
 454: ['3/1/2007', '9/1/2007'],
 455: ['3/1/2008', '9/1/2008'],
 456: ['3/1/2006', '9/1/2006'],
 457: ['9/1/2006', '3/1/2007'],
 458: ['9/1/2006', '3/1/2007'],
 459: ['3/1/2006', '9/1/2007'],
 460: ['3/1/2007', '3/1/2008'],
 461: ['3/1/2007', '3/1/2008'],
 462: ['9/1/2005', '3/1/2006'],
 463: ['3/1/2006', '3/1/2007'],
 464: ['9/1/2007', '3/1/2008'],
 465: ['9/1/2007', '9/1/2008'],
 466: ['9/1/2007', '3/1/2008'],
 467: ['3/1/2007', '9/1/2007'],
 468: ['9/1/2007', '3/1/2008'],
 469: ['9/1/2007', '3/1/2008'],
 470: ['3/1/2007', '9/1/2007'],
 471: ['3/1/2007', '9/1/2007'],
 472: ['9/1/2006', '3/1/2007'],
 473: ['3/1/2007', '9/1/2007'],
 474: ['9/1/2005', '3/1/2006'],
 475: ['9/1/2006', '3/1/2007'],
 476: ['3/1/2008', '9/1/2008'],
 477: ['3/1/2005', '3/1/2006'],
 478: ['3/1/2007', '9/1/2007'],
 479: ['3/1/2007', '9/1/2007'],
 480: ['3/1/2007', '9/1/2007'],
 481: ['3/1/2007', '9/1/2007'],
 482: ['3/1/2007', '9/1/2007'],
 483: ['9/1/2010', '3/1/2011'],
 484: ['9/1/2007', '3/1/2008'],
 485: ['3/1/2007', '9/1/2007'],
 486: ['3/1/2007', '3/1/2008'],
 487: ['9/1/2006', '3/1/2007'],
 488: ['3/1/2005', '3/1/2006'],
 489: ['3/1/2007', '3/1/2008'],
 490: ['3/1/2005', '9/1/2005'],
 491: ['3/1/2006', '9/1/2006'],
 492: ['9/1/2004', '9/1/2005'],
 493: ['9/1/2006', '3/1/2007'],
 494: ['3/1/2008', '9/1/2008'],
 495: ['9/1/2005', '9/1/2006'],
 496: ['3/1/2008', '9/1/2008'],
 497: ['3/1/2008', '9/1/2008'],
 498: ['9/1/2006', '3/1/2007'],
 499: ['3/1/2007', '9/1/2007'],
 500: ['9/1/2006', '3/1/2007'],
 501: ['9/1/2006', '9/1/2007'],
 502: ['3/1/2006', '9/1/2006'],
 503: ['9/1/2007', '3/1/2008'],
 504: ['9/1/2007', '3/1/2008'],
 505: ['3/1/2006', '9/1/2006'],
 506: ['3/1/2005', '3/1/2006'],
 507: ['3/1/2007', '9/1/2007'],
 508: ['3/1/2006', '3/1/2007'],
 509: ['9/1/2007', '3/1/2008'],
 510: ['3/1/2007', '3/1/2008'],
 511: ['3/1/2008', '9/1/2008'],
 512: ['9/1/2007', '3/1/2008'],
 513: ['9/1/2007', '9/1/2008'],
 514: ['9/1/2005', '3/1/2006'],
 515: ['3/1/2008', '9/1/2008'],
 516: ['3/1/2007', '9/1/2007'],
 517: ['3/1/2007', '9/1/2007'],
 518: ['9/1/2006', '3/1/2007'],
 519: ['3/1/2007', '9/1/2007'],
 520: ['3/1/2007', '9/1/2007'],
 521: ['3/1/2007', '9/1/2007'],
 522: ['9/1/2007', '3/1/2008'],
 523: ['9/1/2006', '9/1/2008'],
 524: ['9/1/2006', '9/1/2007'],
 525: ['9/1/2007', '3/1/2008'],
 526: ['3/1/2006', '3/1/2007'],
 527: ['3/1/2006', '3/1/2007'],
 528: ['3/1/2006', '3/1/2007'],
 529: ['3/1/2006', '3/1/2007'],
 530: ['9/1/2007', '9/1/2008'],
 531: ['3/1/2005', '9/1/2005'],
 532: ['9/1/2007', '3/1/2008'],
 533: ['9/1/2007', '3/1/2008'],
 534: ['9/1/2006', '3/1/2007'],
 535: ['3/1/2008', '9/1/2008'],
 536: ['3/1/2005', '9/1/2005'],
 537: ['9/1/2006', '3/1/2007'],
 538: ['3/1/2005', '3/1/2006'],
 539: ['9/1/2008', '9/1/2009'],
 540: ['9/1/2006', '3/1/2007'],
 541: ['9/1/2007', '3/1/2008'],
 542: ['9/1/2007', '3/1/2008'],
 543: ['9/1/2007', '3/1/2008'],
 544: ['3/1/2008', '9/1/2008'],
 545: ['9/1/2007', '3/1/2008'],
 546: ['3/1/2008', '9/1/2008'],
 547: ['3/1/2006', '3/1/2007'],
 548: ['3/1/2005', '9/1/2005'],
 549: ['9/1/2006', '3/1/2007'],
 550: ['9/1/2006', '3/1/2007'],
 551: ['3/1/2006', '9/1/2006'],
 552: ['3/1/2006', '3/1/2007'],
 553: ['9/1/2005', '3/1/2006'],
 554: ['3/1/2008', '9/1/2008'],
 555: ['3/1/2008', '9/1/2008'],
 556: ['3/1/2008', '9/1/2008'],
 557: ['3/1/2008', '9/1/2008'],
 558: ['3/1/2006', '9/1/2006'],
 559: ['3/1/2006', '9/1/2006'],
 560: ['9/1/2008', '9/1/2009'],
 561: ['3/1/2006', '3/1/2007'],
 562: ['9/1/2005', '3/1/2006'],
 563: ['9/1/2007', '3/1/2008'],
 564: ['3/1/2008', '9/1/2008'],
 565: ['9/1/2007', '3/1/2008'],
 566: ['3/1/2006', '9/1/2006'],
 567: ['3/1/2008', '9/1/2008'],
 568: ['9/1/2008', '3/1/2010'],
 569: ['9/1/2005', '9/1/2006'],
 570: ['9/1/2007', '3/1/2008'],
 571: ['3/1/2008', '9/1/2008'],
 572: ['3/1/2007', '9/1/2007'],
 573: ['9/1/2006', '3/1/2007'],
 574: ['3/1/2007', '9/1/2007'],
 575: ['3/1/2008', '9/1/2008'],
 576: ['3/1/2008', '9/1/2008'],
 577: ['9/1/2005', '9/1/2006'],
 578: ['3/1/2007', '3/1/2008'],
 579: ['3/1/2007', '9/1/2007'],
 580: ['3/1/2007', '3/1/2008'],
 581: ['3/1/2007', '9/1/2007'],
 582: ['9/1/2005', '3/1/2006'],
 583: ['3/1/2008', '9/1/2008'],
 584: ['9/1/2010', '3/1/2011'],
 585: ['9/1/2006', '3/1/2007'],
 586: ['3/1/2005', '9/1/2005'],
 587: ['3/1/2008', '9/1/2008'],
 588: ['9/1/2006', '3/1/2007'],
 589: ['9/1/2007', '3/1/2008'],
 590: ['9/1/2010', '9/1/2011'],
 591: ['9/1/2007', '3/1/2008'],
 592: ['9/1/2007', '3/1/2008'],
 593: ['9/1/2006', '3/1/2007'],
 594: ['3/1/2007', '3/1/2008'],
 595: ['3/1/2008', '9/1/2008'],
 596: ['9/1/2007', '3/1/2008'],
 597: ['3/1/2007', '9/1/2007'],
 598: ['3/1/2006', '9/1/2006'],
 599: ['3/1/2006', '9/1/2006'],
 600: ['9/1/2006', '3/1/2007'],
 601: ['3/1/2008', '9/1/2008'],
 602: ['3/1/2005', '9/1/2005'],
 603: ['9/1/2006', '9/1/2007'],
 604: ['3/1/2007', '3/1/2008'],
 605: ['9/1/2007', '3/1/2008'],
 606: ['3/1/2007', '3/1/2008'],
 607: ['3/1/2005', '9/1/2005'],
 608: ['3/1/2007', '9/1/2007'],
 609: ['3/1/2007', '9/1/2007'],
 610: ['9/1/2007', '3/1/2008'],
 611: ['3/1/2007', '9/1/2007'],
 612: ['9/1/2007', '3/1/2008'],
 613: ['9/1/2007', '3/1/2008'],
 614: ['9/1/2011', '3/1/2012'],
 615: ['9/1/2007', '3/1/2008'],
 616: ['9/1/2007', '3/1/2008'],
 617: ['9/1/2007', '3/1/2008'],
 618: ['9/1/2006', '3/1/2007'],
 619: ['9/1/2005', '3/1/2006'],
 620: ['3/1/2007', '9/1/2007'],
 621: ['3/1/2005', '9/1/2005'],
 622: ['3/1/2005', '3/1/2006'],
 623: ['9/1/2007', '3/1/2008'],
 624: ['3/1/2005', '9/1/2005'],
 625: ['9/1/2009', '3/1/2010'],
 626: ['9/1/2006', '3/1/2007'],
 627: ['9/1/2007', '3/1/2008'],
 628: ['9/1/2007', '3/1/2008'],

In [14]:
# # Making another list of all the row numbers of dataset which needs to be deleted from dataframe
# because it contains last 2 semester's performance.

In [15]:
indexList=[]
for index,row in fp.iterrows():
    if row["StudentID"]==1000:
        break
    dates = map[row["StudentID"]]
#     print(dates)
#     print(str(row["ClassDate"]) in dates)
#     print(index,row["StudentID"], row["ClassDate"])
    if str(row["ClassDate"]) in dates:
        indexList.append(index)
indexList

[8,
 9,
 17,
 18,
 19,
 25,
 26,
 27,
 28,
 29,
 37,
 38,
 39,
 47,
 48,
 49,
 57,
 58,
 59,
 65,
 66,
 67,
 68,
 69,
 76,
 77,
 78,
 79,
 87,
 88,
 89,
 98,
 99,
 106,
 107,
 108,
 109,
 118,
 119,
 128,
 129,
 134,
 135,
 136,
 137,
 138,
 139,
 147,
 148,
 149,
 157,
 158,
 159,
 167,
 168,
 169,
 177,
 178,
 179,
 187,
 188,
 189,
 198,
 199,
 207,
 208,
 209,
 217,
 218,
 219,
 226,
 227,
 228,
 229,
 238,
 239,
 247,
 248,
 249,
 256,
 257,
 258,
 259,
 266,
 267,
 268,
 269,
 277,
 278,
 279,
 287,
 288,
 289,
 297,
 298,
 299,
 307,
 308,
 309,
 316,
 317,
 318,
 319,
 326,
 327,
 328,
 329,
 337,
 338,
 339,
 347,
 348,
 349,
 357,
 358,
 359,
 366,
 367,
 368,
 369,
 377,
 378,
 379,
 386,
 387,
 388,
 389,
 398,
 399,
 407,
 408,
 409,
 418,
 419,
 425,
 426,
 427,
 428,
 429,
 436,
 437,
 438,
 439,
 447,
 448,
 449,
 458,
 459,
 467,
 468,
 469,
 475,
 476,
 477,
 478,
 479,
 488,
 489,
 495,
 496,
 497,
 498,
 499,
 507,
 508,
 509,
 514,
 515,
 516,
 517,
 518,
 519,
 526,
 527,
 528,
 529,
 537,
 538,
 539,
 546,
 547,
 548,
 549,
 557,
 558,
 559,
 568,
 569,
 577,
 578,
 579,
 587,
 588,
 589,
 598,
 599,
 605,
 606,
 607,
 608,
 609,
 615,
 616,
 617,
 618,
 619,
 626,
 627,
 628,
 629,
 638,
 639,
 646,
 647,
 648,
 649,
 656,
 657,
 658,
 659,
 667,
 668,
 669,
 678,
 679,
 687,
 688,
 689,
 697,
 698,
 699,
 708,
 709,
 717,
 718,
 719,
 724,
 725,
 726,
 727,
 728,
 729,
 736,
 737,
 738,
 739,
 747,
 748,
 749,
 757,
 758,
 759,
 767,
 768,
 769,
 778,
 779,
 787,
 788,
 789,
 797,
 798,
 799,
 807,
 808,
 809,
 818,
 819,
 828,
 829,
 837,
 838,
 839,
 846,
 847,
 848,
 849,
 855,
 856,
 857,
 858,
 859,
 866,
 867,
 868,
 869,
 878,
 879,
 888,
 889,
 898,
 899,
 908,
 909,
 917,
 918,
 919,
 926,
 927,
 928,
 929,
 938,
 939,
 946,
 947,
 948,
 949,
 957,
 958,
 959,
 965,
 966,
 967,
 968,
 969,
 977,
 978,
 979,
 987,
 988,
 989,
 997,
 998,
 999,
 1006,
 1007,
 1008,
 1009,
 1018,
 1019,
 1028,
 1029,
 1035,
 1036,
 1037,
 1038,
 1039,
 1046,
 1047,
 1048,
 1049,
 1057,
 1058,
 1059,
 1066,
 1067,
 1068,
 1069,
 1075,
 1076,
 1077,
 1078,
 1079,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1105,
 1106,
 1107,
 1108,
 1109,
 1115,
 1116,
 1117,
 1118,
 1119,
 1127,
 1128,
 1129,
 1138,
 1139,
 1146,
 1147,
 1148,
 1149,
 1156,
 1157,
 1158,
 1159,
 1168,
 1169,
 1178,
 1179,
 1188,
 1189,
 1197,
 1198,
 1199,
 1208,
 1209,
 1217,
 1218,
 1219,
 1227,
 1228,
 1229,
 1235,
 1236,
 1237,
 1238,
 1239,
 1246,
 1247,
 1248,
 1249,
 1258,
 1259,
 1268,
 1269,
 1278,
 1279,
 1285,
 1286,
 1287,
 1288,
 1289,
 1296,
 1297,
 1298,
 1299,
 1308,
 1309,
 1316,
 1317,
 1318,
 1319,
 1328,
 1329,
 1335,
 1336,
 1337,
 1338,
 1339,
 1345,
 1346,
 1347,
 1348,
 1349,
 1355,
 1356,
 1357,
 1358,
 1359,
 1368,
 1369,
 1378,
 1379,
 1387,
 1388,
 1389,
 1396,
 1397,
 1398,
 1399,
 1407,
 1408,
 1409,
 1417,
 1418,
 1419,
 1425,
 1426,
 1427,
 1428,
 1429,
 1435,
 1436,
 1437,
 1438,
 1439,
 1447,
 1448,
 1449,
 1456,
 1457,
 1458,
 1459,
 1463,
 1464,
 1465,
 1466,
 1467,
 1468,
 1469,
 1478,
 1479,
 1488,
 1489,
 1496,
 1497,
 1498,
 1499,
 1507,
 1508,
 1509,
 1517,
 1518,
 1519,
 1526,
 1527,
 1528,
 1529,
 1538,
 1539,
 1546,
 1547,
 1548,
 1549,
 1556,
 1557,
 1558,
 1559,
 1568,
 1569,
 1574,
 1575,
 1576,
 1577,
 1578,
 1579,
 1587,
 1588,
 1589,
 1595,
 1596,
 1597,
 1598,
 1599,
 1606,
 1607,
 1608,
 1609,
 1617,
 1618,
 1619,
 1628,
 1629,
 1636,
 1637,
 1638,
 1639,
 1648,
 1649,
 1656,
 1657,
 1658,
 1659,
 1664,
 1665,
 1666,
 1667,
 1668,
 1669,
 1677,
 1678,
 1679,
 1688,
 1689,
 1697,
 1698,
 1699,
 1705,
 1706,
 1707,
 1708,
 1709,
 1717,
 1718,
 1719,
 1728,
 1729,
 1737,
 1738,
 1739,
 1747,
 1748,
 1749,
 1753,
 1754,
 1755,
 1756,
 1757,
 1758,
 1759,
 1767,
 1768,
 1769,
 1777,
 1778,
 1779,
 1788,
 1789,
 1796,
 1797,
 1798,
 1799,
 1808,
 1809,
 1817,
 1818,
 1819,
 1827,
 1828,
 1829,
 1837,
 1838,
 1839,
 1848,
 1849,
 1856,
 1857,
 1858,
 1859,
 1867,
 1868,
 1869,
 1875,
 1876,
 1877,
 1878,
 1879,
 1887,
 1888,
 1889,
 1898,
 1899,
 1908,
 1909,
 1915,
 1916,
 1917,
 1918,
 1919,
 1926,
 1927,
 1928,
 1929,
 1938,
 1939,
 1946,
 1947,
 1948,
 1949,
 1958,
 1959,
 1967,
 1968,
 1969,
 1977,
 1978,
 1979,
 1988,
 1989,
 1998,
 1999,
 2007,
 2008,
 2009,
 2016,
 2017,
 2018,
 2019,
 2027,
 2028,
 2029,
 2037,
 2038,
 2039,
 2048,
 2049,
 2055,
 2056,
 2057,
 2058,
 2059,
 2066,
 2067,
 2068,
 2069,
 2076,
 2077,
 2078,
 2079,
 2088,
 2089,
 2098,
 2099,
 2107,
 2108,
 2109,
 2118,
 2119,
 2127,
 2128,
 2129,
 2136,
 2137,
 2138,
 2139,
 2148,
 2149,
 2155,
 2156,
 2157,
 2158,
 2159,
 2167,
 2168,
 2169,
 2176,
 2177,
 2178,
 2179,
 2186,
 2187,
 2188,
 2189,
 2196,
 2197,
 2198,
 2199,
 2206,
 2207,
 2208,
 2209,
 2218,
 2219,
 2226,
 2227,
 2228,
 2229,
 2237,
 2238,
 2239,
 2248,
 2249,
 2256,
 2257,
 2258,
 2259,
 2268,
 2269,
 2276,
 2277,
 2278,
 2279,
 2287,
 2288,
 2289,
 2297,
 2298,
 2299,
 2307,
 2308,
 2309,
 2316,
 2317,
 2318,
 2319,
 2326,
 2327,
 2328,
 2329,
 2337,
 2338,
 2339,
 2345,
 2346,
 2347,
 2348,
 2349,
 2357,
 2358,
 2359,
 2366,
 2367,
 2368,
 2369,
 2375,
 2376,
 2377,
 2378,
 2379,
 2386,
 2387,
 2388,
 2389,
 2395,
 2396,
 2397,
 2398,
 2399,
 2406,
 2407,
 2408,
 2409,
 2417,
 2418,
 2419,
 2427,
 2428,
 2429,
 2435,
 2436,
 2437,
 2438,
 2439,
 2448,
 2449,
 2458,
 2459,
 2468,
 2469,
 2477,
 2478,
 2479,
 2486,
 2487,
 2488,
 2489,
 2496,
 2497,
 2498,
 2499,
 2507,
 2508,
 2509,
 2516,
 2517,
 2518,
 2519,
 2527,
 2528,
 2529,
 2538,
 2539,
 2547,
 2548,
 2549,
 2558,
 2559,
 2567,
 2568,
 2569,
 2578,
 2579,
 2588,
 2589,
 2595,
 2596,
 2597,
 2598,
 2599,
 2608,
 2609,
 2615,
 2616,
 2617,
 2618,
 2619,
 2626,
 2627,
 2628,
 2629,
 2638,
 2639,
 2647,
 2648,
 2649,
 2657,
 2658,
 2659,
 2666,
 2667,
 2668,
 2669,
 2678,
 2679,
 2686,
 2687,
 2688,
 2689,
 2697,
 2698,
 2699,
 2707,
 2708,
 2709,
 2718,
 2719,
 2728,
 2729,
 2738,
 2739,
 2748,
 2749,
 2758,
 2759,
 2767,
 2768,
 2769,
 2775,
 2776,
 2777,
 2778,
 2779,
 2785,
 2786,
 2787,
 2788,
 2789,
 2797,
 2798,
 2799,
 2807,
 2808,
 2809,
 2818,
 2819,
 2828,
 2829,
 2834,
 2835,
 2836,
 2837,
 2838,
 2839,
 2848,
 2849,
 2853,
 2854,
 2855,
 2856,
 2857,
 2858,
 2859,
 2867,
 2868,
 2869,
 2878,
 2879,
 2887,
 2888,
 2889,
 2896,
 2897,
 2898,
 2899,
 2906,
 2907,
 2908,
 2909,
 2916,
 2917,
 2918,
 2919,
 2928,
 2929,
 2937,
 2938,
 2939,
 2948,
 2949,
 2956,
 2957,
 2958,
 2959,
 2966,
 2967,
 2968,
 2969,
 2975,
 2976,
 2977,
 2978,
 2979,
 2986,
 2987,
 2988,
 2989,
 2998,
 2999,
 3008,
 3009,
 3016,
 3017,
 3018,
 3019,
 3026,
 3027,
 3028,
 ...]

list1

In [16]:
# Dropping all the rows from the dataframe.
# Got the final dataset on which we have data except the of last 2 semester data of individual students.

In [17]:
fp.shape
fp = fp.drop(indexList)
fp

,StudentID,GRADE,ClassWeekDay,ClassMeetTime,ClassDate,ClassTitle,ID,HS_ENGLISH,HS_MATH,HS_HISTORY,HS_LAB_SCIENCES,HS_FOREIGN_LANGUAGE,HS_ART,HS_ELECTIVES,HS_GPA,sex,WRITINGScore,GraduateONTime,Major
0,1,A,MW,15:30:00,9/1/2004,Math,1,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
1,1,A,M,19:00:00,9/1/2004,English,1,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
2,1,C,W,19:00:00,9/1/2004,Physics,1,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
3,1,B,MW,11:00:00,9/1/2004,Art,1,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
4,1,B,MW,12:30:00,9/1/2005,SocialStudy,1,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,1000,C,MW,15:30:00,9/1/2008,Physics,1000,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9993,1000,C,MW,14:00:00,9/1/2008,Math,1000,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9994,1000,C,TTH,12:30:00,9/1/2008,ForeignLanguage,1000,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9995,1000,B,TU,19:00:00,9/1/2009,Music,1000,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9996,1000,D,MW,11:00:00,3/1/2010,Drawing,1000,8,6,6,6,4,16,9,3.690760,0,552,1,FIN

In [18]:
fp = fp.drop(['ClassMeetTime','ClassWeekDay','ID'], axis=1)
fp

,StudentID,GRADE,ClassDate,ClassTitle,HS_ENGLISH,HS_MATH,HS_HISTORY,HS_LAB_SCIENCES,HS_FOREIGN_LANGUAGE,HS_ART,HS_ELECTIVES,HS_GPA,sex,WRITINGScore,GraduateONTime,Major
0,1,A,9/1/2004,Math,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
1,1,A,9/1/2004,English,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
2,1,C,9/1/2004,Physics,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
3,1,B,9/1/2004,Art,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
4,1,B,9/1/2005,SocialStudy,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,1000,C,9/1/2008,Physics,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9993,1000,C,9/1/2008,Math,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9994,1000,C,9/1/2008,ForeignLanguage,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9995,1000,B,9/1/2009,Music,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9996,1000,D,3/1/2010,Drawing,8,6,6,6,4,16,9,3.690760,0,552,1,FIN

In [19]:
fp.dtypes

StudentID                int32
GRADE                   object
ClassDate               object
ClassTitle              object
HS_ENGLISH               int64
HS_MATH                  int64
HS_HISTORY               int64
HS_LAB_SCIENCES          int64
HS_FOREIGN_LANGUAGE      int64
HS_ART                   int64
HS_ELECTIVES             int64
HS_GPA                 float64
sex                      int64
WRITINGScore             int64
GraduateONTime           int64
Major                   object
dtype: object

In [20]:
fp['GRADE'] = fp['GRADE'].astype('category')
fp['ClassDate'] = fp['ClassDate'].astype('category')
fp['ClassTitle'] = fp['ClassTitle'].astype('category')
fp['Major'] = fp['Major'].astype('category')

In [21]:
fp.dtypes

StudentID                 int32
GRADE                  category
ClassDate              category
ClassTitle             category
HS_ENGLISH                int64
HS_MATH                   int64
HS_HISTORY                int64
HS_LAB_SCIENCES           int64
HS_FOREIGN_LANGUAGE       int64
HS_ART                    int64
HS_ELECTIVES              int64
HS_GPA                  float64
sex                       int64
WRITINGScore              int64
GraduateONTime            int64
Major                  category
dtype: object

In [22]:
fp

,StudentID,GRADE,ClassDate,ClassTitle,HS_ENGLISH,HS_MATH,HS_HISTORY,HS_LAB_SCIENCES,HS_FOREIGN_LANGUAGE,HS_ART,HS_ELECTIVES,HS_GPA,sex,WRITINGScore,GraduateONTime,Major
0,1,A,9/1/2004,Math,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
1,1,A,9/1/2004,English,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
2,1,C,9/1/2004,Physics,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
3,1,B,9/1/2004,Art,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
4,1,B,9/1/2005,SocialStudy,8,8,7,8,6,4,1,3.691959,1,428,0,FIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,1000,C,9/1/2008,Physics,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9993,1000,C,9/1/2008,Math,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9994,1000,C,9/1/2008,ForeignLanguage,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9995,1000,B,9/1/2009,Music,8,6,6,6,4,16,9,3.690760,0,552,1,FIN
9996,1000,D,3/1/2010,Drawing,8,6,6,6,4,16,9,3.690760,0,552,1,FIN

In [24]:
le = preprocessing.LabelEncoder()
cols = ['GRADE','ClassDate','ClassTitle','Major']
fp[cols] = fp[cols].apply(le.fit_transform)

In [25]:
fp

,StudentID,GRADE,ClassDate,ClassTitle,HS_ENGLISH,HS_MATH,HS_HISTORY,HS_LAB_SCIENCES,HS_FOREIGN_LANGUAGE,HS_ART,HS_ELECTIVES,HS_GPA,sex,WRITINGScore,GraduateONTime,Major
0,1,0,7,4,8,8,7,8,6,4,1,3.691959,1,428,0,1
1,1,0,7,2,8,8,7,8,6,4,1,3.691959,1,428,0,1
2,1,2,7,7,8,8,7,8,6,4,1,3.691959,1,428,0,1
3,1,1,7,0,8,8,7,8,6,4,1,3.691959,1,428,0,1
4,1,1,8,8,8,8,7,8,6,4,1,3.691959,1,428,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,1000,2,11,7,8,6,6,6,4,16,9,3.690760,0,552,1,1
9993,1000,2,11,4,8,6,6,6,4,16,9,3.690760,0,552,1,1
9994,1000,2,11,3,8,6,6,6,4,16,9,3.690760,0,552,1,1
9995,1000,1,12,5,8,6,6,6,4,16,9,3.690760,0,552,1,1
9996,1000,3,5,1,8,6,6,6,4,16,9,3.690760,0,552,1,1

In [26]:
target = fp['GraduateONTime']
predictors = fp.drop(['GraduateONTime'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size = 0.3, random_state = 0)

In [40]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

C:\Users\User\anaconda3\envs\cloudoffis\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(random_state=0)

In [41]:
y_pred = classifier.predict(X_test)

In [42]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1451    7]
 [ 527    6]]

In [43]:
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.73      1.00      0.84      1458
           1       0.46      0.01      0.02       533

    accuracy                           0.73      1991
   macro avg       0.60      0.50      0.43      1991
weighted avg       0.66      0.73      0.62      1991

In [44]:
# Training the Random Forest Classification model on the Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [45]:
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99      1458
           1       1.00      0.96      0.98       533

    accuracy                           0.99      1991
   macro avg       0.99      0.98      0.99      1991
weighted avg       0.99      0.99      0.99      1991

In [46]:
# Training the K-NN model on the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [47]:
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.96      0.97      0.97      1458
           1       0.93      0.89      0.91       533

    accuracy                           0.95      1991
   macro avg       0.94      0.93      0.94      1991
weighted avg       0.95      0.95      0.95      1991

In [1]:
! jupyter nbconvert --to html IS_670_Group_Project_2_Question_4.ipynb

[NbConvertApp] Converting notebook IS_670_Group_Project_2_Question_4.ipynb to html
[NbConvertApp] Writing 710575 bytes to IS_670_Group_Project_2_Question_4.html